*{
    box-sizing: border-box;
}

.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;

}

.nav-link{
    text-decoration: none;
    color: #bf7506;
    margin-left: 24px;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active{
    font-weight: 700px;

}

.container{
    max-width: 870px;
    width: 100%;
    margin: auto;

}

.header{
    padding: 70px 0;
    display: flex;
    align-items: center;

}
.header-text{
    margin-left: 27px;

}
.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.header-photo{
    width: 50%;
    height: 50%;
}
.header-heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
}
.header-primary{
    color: #bf7506;

}
.social-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link{
    display: inline-block;
    padding: 8px;

}
.header-links{
    display: flex;
    align-items: center;
}
.cv-dowland{
    padding: 7px 8px;
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.section-heading{
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #bf7506;
}
.card-title{
    
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #bf7506;
    margin-top: 0;
    margin-bottom: 8px;
}

.tags{
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.tag{
    padding: 4px 8px;
    display: inline-block;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    text-decoration: none;
    color: #211b12;
    background: #ffffff;
    border: 1px solid #dd9c3c;
    border-radius: 4px;
    margin-right: 4px;
}

.card-buttons{
    display: flex;
    align-items: center;
}

.card-button{
    display: flex;
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color:#211b12;
    border-bottom: 2px solid #bf7506;
    margin-right: 25px;

}
.card-button-icon{
    margin-right: 4px;
}

.cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.developer{
    display: flex;
    align-items: center;
}

.developer-photo{
    width: 40%;
    height: 40%;
    flex-shrink: 0;
    object-fit: cover;
    border-radius: 20px;
}

.developer-about{
    margin-left: 55px;
}

.developer-hello{
    font-size:24px ;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #211b12;
   
}

.developer-title{
    font-weight: 700;
    font-size:32px ;
    line-height: 135%;
    letter-spacing: -0.03em;
    color: #bf7506;
    margin-top: 4px;
    margin-bottom: 16px;
   
}

.developer-text{
  
    font-size:16px ;
    line-height: 150%;
    color: #211b12;
}
.motto{
    font-size: 24px;
    line-height: 150%;
    color: #dd9c3c;
    margin: 16px 0;

}
.developer-sign{
    max-width: 200px;
}
.skill-title{
    font-size: 24px;
    line-height: 135%;
    color: #211b12;
}

.feedback{
    padding: 80px 0 160px;
}
.input-group{
    position: relative;
}
.input-label{
    position: absolute;
    font-size: 16px;
    line-height: 150%;
    color: #83807c;
    padding: 0 8px;
    background: #ffffff;
    top: 0;
    left: 16px;
}

.input-group{
    padding-top: 9px;
}
.input{
    border: 3px solid #e0dedc;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.submit-button{
    padding: 7px 8px;
    margin-left: 7px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211b12;
    border-bottom: 2px solid #bf7506;
    background-color: #fff;
    border: none;
    cursor: pointer;
}

.button-group{
    display: flex;
    justify-content: flex-end;
}